<div class="container">
<div class="row">
<div class="col-8">
<div class="card">
<div class="card-body">
<%= form_with(model: customer, id: 'customer') do |form| %>


  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "errores") %> prohibió que este cliente se guarde:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-group mb-3">
    <%= form.label :cedula, class: 'input-group-text' %>
    <%= form.text_field :cedula, class: 'form-control' %>
    
  </div>

  <div class="input-group mb-3">
    <%= form.label :name, class: 'input-group-text' %>
    <%= form.text_field :name, class: 'form-control' %>
    
  </div>
 

  <div class="input-group mb-3">
    <%= form.label :last_name, class: 'input-group-text' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :telephone, class: 'input-group-text' %>
    <%= form.text_field :telephone, class: 'form-control' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :address, class: 'input-group-text' %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :state, class: 'input-group-text' %>
    <%= form.check_box :state, class: 'form-control' %>
  </div>
  

  <div class="actions">
    <%= form.submit class: 'btn btn-info text-white' %>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>


