PDF generado:
<%= Time.zone.now%>

<p>
<strong>Nombre: </strong>
<%= @customer.name%>
</p>
<p>
<strong>Apellido(s): </strong>
<%= @customer.last_name%>
</p>
<p>
<strong>Telefono: </strong>
<%= @customer.telephone%>
</p>
<p>
<strong>Direccion: </strong>
<%= @customer.address%>
</p>