<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'sales' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Game <span class="text-danger">Store</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
         
          <%= link_to 'Empleados', employes_path, class: 'nav-link'%> 
        </li>
        <li class="nav-item">
         <%= link_to 'Clientes', customers_path, class: 'nav-link'%> 
        </li>
        <li class="nav-item">
         <%= link_to 'Productos', products_path, class: 'nav-link'%> 
        </li>
       
      </ul>
      <ul class="navbar-nav ">
      <% if Current.user %>
      <li class="nav-item">
       <strong class="nav-link">Bienvendido: <%= Current.user.email %></strong> 
      </li> 
       <li class="nav-item">
         
          <%= link_to 'Cerrar Sesion', logout_path, method: :delete, class: 'nav-link'%> 
        </li>
        <% else %>
         <li class="nav-item">
         
          <%= link_to 'Login', sign_in_path, class: 'nav-link'%> 
        </li>
         <li class="nav-item">
         
          <%= link_to 'Registro', sign_up_path, class: 'nav-link'%> 
        </li>  
         <%end%> 
            </ul> 
    </div>
  </div>
</nav>
    <%= yield %>
     <%if notice.present?%>
    <script type="text/javascript">
      
      Swal.fire(
  'Correcto!',
  '<%=notice%>',
  'success'
)
    </script>
  <%end%> 
     <%if alert.present?%>
    <script type="text/javascript">
      
      Swal.fire(
  'Oops!',
  '<%=alert%>',
  'error'
)
    </script>
  <%end%> 
<button id="boton">Mostrar</button>
  </body>
</html>
<!--<script>
$().ready(()=>{
$.validator.addMethod("soloLetras", function (value, element) {
    var pattern = /^[a-zA-Z ]+$/;
    return this.optional(element) || pattern.test(value);
  }, "");
  $.validator.addMethod("soloNumeros", function (value, element) {
    var pattern = /[0-9]+/;
    return this.optional(element) || pattern.test(value);
  }, "El campo solo debe contener numeros");
   $("#customer").validate({
     rules:{
       "customer[name]": {required: true, soloLetras: true},
       "customer[last_name]": {required: true, soloLetras: true},
       "customer[telephone]": {required: true, soloNumeros: true, minlength: 7, maxlength: 10},
       "customer[address]": {required: true}


     },
     messages:{
       "customer[name]": {required: 'El campo nombre no puede estar vacio', soloLetras: 'El campo debe contener solo letras'},
        "customer[last_name]": {required: 'El campo apellidos no puede estar vacio', soloLetras: 'El campo debe contener solo letras'},
         "customer[telephone]": {required: 'El campo Telefono no puede estar vacio', soloNumeros: 'El campo debe contener solo numeros', minlength: 'El campo debe tener como minimo 7 numeros', maxlength: 'El campo  no puede tener mas de 10 numeros' },
         "customer[address]": {required: "El campo direccion no puede estar vacio"}
     }
   });  
})
  
 
</script>-->
